{% extends "base.html" %}

{% block main %}

  <h1>Properties</h1>

    
  <div class = "bod">
    {% for property in properties %}
    <div class = "griditem">
    <div class = "img"><img src="{{url_for('get_image', filename=property.photo)}}"></div>
    <h4 class="title">{{ property.title }}</h4>
    </p>{{ property.location }}</p>
    <p class="price">${{ property.price }}</p>
    <p class="button" ><a href="{{ url_for('property', propertyid=property.id) }}" id = "butext">View Property</a></p>
</div>
    
    {% endfor %}
</div>


        
   

  
{% endblock %}